body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #f0f0f0, #d1d1d1);
    color: #333;
}


header {
    position: relative;
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
    border-bottom: 5px solid #f0f0f0;
}

header img {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
    height: auto;
    filter: brightness(70%);
}

header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, rgba(51, 51, 51, 0.6), rgba(51, 51, 51, 0.3));
    z-index: 1;
}

h1 {
    font-size: calc(1.3rem + 2vw);
    position: relative;
    z-index: 2;
}

p {
    font-size: calc(0.3rem + 1.1vw);
    position: relative;
    z-index: 2;
}

main {
    padding: 20px;
}

section h2 {
    font-size: calc(1.0rem + 2vw);
    margin-bottom: 5px;
}

section ul {
    list-style: none;
    padding: 0;
}

li {
    font-size: calc(0.8rem + 0.5vw); /* Makes the font size dynamic */
    margin-bottom: 10px;
 }

/* Flexbox styling for the image gallery */
.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-between;
}

.gallery-item {
    flex: 1 1 calc(25% - 15px); /* 4 columns layout */
    max-width: calc(25% - 15px);
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.gallery-item img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    margin-top: 20px;
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
    header img {
        max-height: 350px;
    }

    h1 {
        font-size: calc(1.2rem + 3vw);
    }

    p {
        font-size: calc(0.4rem + 1.5vw);
    }

    section h2 {
        font-size: calc(1.0rem + 3vw);
    }

    ul {
        padding-left: 20px;
    }

    li {
        font-size: calc(0.5rem + 1.5vw);
    }

    .gallery-item {
        flex: 1 1 calc(50% - 15px); /* 2 columns layout for medium screens */
        max-width: calc(50% - 15px);
    }

    footer {
        padding: 15px;
    }
}

@media (max-width: 480px) {
    header img {
        max-height: 300px;
    }

    h1 {
        font-size: calc(1rem + 4vw);
    }

    section h2 {
        font-size: calc(0.8rem + 4vw);
    }

    p {
        font-size: calc(0.5rem + 2vw);
    }

    ul {
        padding-left: 15px;
    }

    li {
        font-size: calc(0.6rem + 2vw);
        margin-bottom: 8px;
    }

    .gallery-item {
        flex: 1 1 calc(100% - 15px); /* 1 column layout for small screens */
        max-width: calc(100% - 15px);
    }

    footer {
        padding: 20px;
    }
}
